<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .layout-container {
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
      header {
        height: 200px;
        background-color: dodgerblue;
      }

      footer {
        height: 100px;
        background-color: deepskyblue;
      }
    </style>
  </head>
  <body>
    <div class="layout-container">
      <header></header>
      <main>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      </main>
      <footer></footer>
    </div>
  </body>
</html>
